.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: $color-white;
    border-radius: .3rem;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;  
    transform: skewX(-12deg);

    &__shape {
        width: 15rem;
        height: 15rem;
        // background-color: orangered;
        float: left;
        // shape-outside defines where elements flow around the shape
        shape-outside: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        // clip-path draws the actual shape
        clip-path: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
    }

    &__img {
        height:100%;
    }

    &__text {
        transform: skewX(12deg);
    }
}